:root {
    --bg:rgb(21, 21, 21);
}


.sign-page {
    width:100vw;
    height:800px;
    background-image: url(../images/netflix-sign.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.sign-page {
    background-color: rgba(0, 0, 0, 0.655);
}
.sign-bar {
    width:100vw;
    height:100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(173,231,227,0) 0%, rgba(21,21,21,1) 100%)

}
.sign-logo {
    background-image: url(../images/full-logo.png);
    width:300px;
    height:120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.sign-btn {
    width:230px;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    translate:-70px 0px;
}
.sign-ro {
    padding:6px 12px;
    background-color: black;
    color:white;
    font-size:16px;
    border:1px solid white;
    cursor: pointer;
}
.sign-connect {
    padding:8px 10px;
    background-color: red;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
.sign-connect a {
    color:white;
    text-decoration: none;
}
.sign-main {
    width:100vw;
    height:calc(100% - 100px);
    display: flex;
    color:white;
    align-items: center;
    justify-content: center;
}
.sign-flex {
    max-width: 700px;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    translate: 0px -50px;
}
.sign-main-title {
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.sign-main-text {
    font-size:26px;
    font-family: 'Secular one', sans-serif;
    font-weight: 500;
}
.sign-main-minitext {
    font-size:20px;
    font-family: 'Poppins', sans-serif;
}
.sign-form {
    width:100%;
}
.sign-form-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    flex-direction: column;
}
.sign-email, .sign-pass {
    width:calc(100% - 140px);
    height:60px;
    border: none;
    padding:0 10px;
    font-size:16px;
    border-radius: 4px;
    margin-bottom:10px;
}
.sign-email:focus, .sign-pass:focus {
    outline:none;
}
.sign-email:focus::placeholder .sign-pass:focus::placeholder {
    font-size:18px;
    transform: translateY(-18px);
}
.sign-email::placeholder .sign-pass::placeholder {
    transition: 400ms ease;
    font-size:22px;
    font-family: 'Poppins';
}
.sign-email-submit {
    height:60px;
    width:140px;
    font-size:35px;
    font-family: 'Noto sans serif',sans-serif;
    font-weight: 600;
    border:none;
    color:white;
    cursor: pointer;
    border-radius: 4px;
    background-color: red;
}
.sign-line {
    width:100vw;
    height:8px;
    background-color: rgb(58, 58, 58);
}
.sign-tv {
    width:100vw;
    height:450px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sign-tv-text {
    width:40vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.sign-tv-title {
    font-size:45px;
    color:white;
    font-weight: 600;
    width:100%;
}
.sign-tv-subtitle {
    font-size:26px;
    color:white;
    width:100%;
}
.sign-img {
    width:30vw;
    height:300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sign-tv-img {
    background-image: url(images/tv.png);
}
.sign-phone-img {
    background-image: url(images/mobile-0819.jpg);
}
.sign-oriunde-img {
    background-image: url(images/device-pile.png);
}
.sign-copii-img {
    background-image: url(images/AAAABeOMIfhGDUmqII9DfmXQvS5RmGO0SuEht6ws2fljaE7aCrDinQs5skNw_Iijgs23JkStaX8TaEz6PltuQPo0q02NUp70271ZAL5k.png);
}
.sign-error {
    background-color: rgb(179, 65, 65);
    color:white;
    font-size:24px;
    padding:8px 10px;
    border-radius: 5px;
    margin-top:10px;
}


/* ---------- Login Page ---------- */


.log-page {
    background-color: rgba(0, 0, 0, 0.395);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width:100vw;
    height:auto;
    padding:0 20px 100px 20px;
    background-image: url(../images/netflix-sign.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    overflow: hidden;
}
.log-bar {
    width:100vw;
    height:100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(173,231,227,0) 0%, rgba(21,21,21,1) 100%)
}
.log-logo {
    background-image: url(../images/full-logo.png);
    width:300px;
    height:120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.log-form-flex {
    max-width:450px;
    height:650px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    overflow: hidden;
}
.log-title {
    font-size: 30px;
    color:white;
    text-align: left;
    font-weight: 500;
    width:100%;
}
.log-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height:100%;
    flex-direction: column;
    padding: 30px 60px 100px 60px;
}
.log-pass, .log-email {
    align-items: stretch;
    height:50px;
    width:100%;
    border-radius: 6px;
    padding:10px;
}
.log-pass:focus , .log-email:focus {
    outline: none;
}
.log-submit {
    width:100%;
    height:50px;
    background-color: rgb(252, 17, 17);
    border-radius: 4px;
    color:white;
    font-size:22px;
    font-family: 'Secular one', sans-serif;
    cursor: pointer;
}
.log-under {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    color:white;
}
.log-check {
    position: absolute;
    translate:15px 0px;
}
.log-text {
    color:grey;
    width:100%;
}
.log-text a {
    color:white;
    text-decoration: none;
}
.log-text a:hover {
    text-decoration: underline;
}
.log-det {
    width:100%;
    font-size:14px;
    color:grey;
}
.log-absolute {
    position: relative;
    background-color: red;
    border-radius: 4px;
    color:white;
}


/* ----------Media queries---------- */

@media screen and (max-width:1000px) {
    .sign-tv {
        flex-direction: column;
        width:100vw;
    } 
    .sign-tv-text {
        width:50vw;
    }
    .sign-tv-title {
        font-size:25px;
    }
    .sign-tv-subtitle {
        font-size:20px;
    }
}
@media screen and (max-width:800px) {
    .sign-img {
        background-size: contain;
        width:100vw;
    }
    .sign-tv-text {
        width:100vw;
        padding:30px;
    }
}
@media screen and (max-width:600px) {
    .log-bar {
        justify-content: center;
        overflow: hidden;
    }
    .log-page {
        overflow: hidden;
    }
    .sign-tv-text {
        padding:20px;
    }
    .sign-tv-title {
        font-size:22px;
    }
    .sign-tv-subtitle {
        font-size:18px;
    }
    .sign-main-title {
        font-size:26px;
        padding:20px;
    }
    .sign-title-text {
        font-size:24px;
        padding:20px;
    }
    .sign-main-minitext {
        font-size:20px;
        padding: 20px;
    }
    .sign-email, .sign-pass {
        width:calc(100% - 40px)
    }
    .sign-ro {
        display: none;
    }
    .sign-btn {
        justify-content: flex-end;
        translate: -20px 0px;
    }

}
@media screen and (max-width:500px) {
    .log-form {
        padding:30px 20px 100px 20px
    }
}