:root {
  --handle-size: 48px;
  --img-gap: 4px;
  --items-per-screen: 6;
  --slider-index0: 0;
  --slider-index1: 0;
  --slider-index2: 0;
  --slider-index3: 0;
  --bg:rgb(21, 21, 21);
}
.navbar {
  width:100%;
  height:70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 50px;
  font-size:14px;
  position: fixed;
  z-index:99;
}
.nav-rasfoire {
    display: none;
}
.nav-left,.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left a {
  padding:10px 12px;
  text-decoration: none;
  cursor: pointer;
  transition: 400ms ease;
}
.nav-left a:not(.active) {
  color:rgb(206, 206, 206);
}
.nav-left {
    margin-left:120px;
}
.active {
  color:white;
  font-size:15px;
}
.nav-left a:hover:not(.active) {
  color:rgb(157, 157, 157);
}
.logo {
  cursor: pointer;
  width:120px;
  height:70px;
  background-image: url(../images/full-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.nav-right {
  height:30px;
  color:white;
}
.nav-icon {
  margin:0 15px;
  cursor:pointer;
}
.nav-icon i, .nav-image {
  cursor: pointer;
}
.nav-icon:nth-child(4) {
  width:55px;
}
.nav-icon:nth-child(4):hover .nav-image~.fa-caret-up {
  transform: rotate(180deg);
}
.nav-image {
  width:35px;
  height:35px;
  border-radius:3px;
}
.nav-icon i {
  font-size:20px;
  transition: 400ms ease;
}
.nav-icon .nav-image~i {
  font-size:14px;
}
.nav-icon .nav-image~.fa-caret-up {
  font-size:14px;
  color:white;
  line-height:14px;
  position: relative;
  top:-13px;
  left:5px;
}

.nav-drop {
  width:220px;
  height:auto;
  background-color: rgba(0, 0, 0, 0.8);
  position:absolute;
  translate: -190px 5px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin:10px;
  font-size:12px;
  font-family: 'Poppins', sans-serif;
  display: none;
}
.nav-icon:nth-child(4):hover .nav-drop {
  display: flex;
}
.nav-drop .nav-up {
  color:white;
  position: absolute;
  width:70px;
  height:20px;
  font-size:18px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right:17px;
  top:-20px;
  right:0px;
}
.nav-name {
  width:200px;
  height:45px;
  display: flex;
  align-items: center;
}
.nav-avatar {
  width:35px;
  height:35px;
  border-radius: 3px;
  margin-right:10px;
}
.nav-name .fa-pencil, .nav-name .fa-retweet, .nav-name .fa-user , .nav-name .fa-circle-question {
  color: rgb(194, 194, 194);
  width:35px;
  height:35px;
  margin-right:10px;
  font-size:20px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav-name:hover .nav-under {
  text-decoration: underline;
}
.nav-under a {
  text-decoration: none;
  color:white;
  width:200px;
  height:45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left:45px;
  left:-30px;
}
.nav-line {
  position:relative;
  background-color: rgb(79, 79, 79);
  width:100%;
  height:0.5px;
}
.nav-disconnect {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:12px;
}
@media screen and (max-width:1200px){
    .nav-left a {
        padding: 10px 8px;
    }
    .navbar {
        font-size:12px;
        padding:0px 20px;
    }
    .logo {
        margin-right: 10px;
    }
}
@media screen and (max-width:1000px) {
    .navbar {
        height:40px;
        font-size:10px
    }
    .nav-left a {
        padding:6px 4px;
    }
    .nav-icon {
        margin:0 5px;
    }
    .active a {
        padding:0px 6px;
        font-size:14px;
    }
    .nav-icon:nth-child(2) {
        display:none;
    }
}
@media screen and (max-width:800px) {
    .nav-left {
        flex-direction: column;
        position: relative;
        top:200px;
        border: 1px solid grey;
        border-top:2px solid white;
        left:0;
        opacity:0;
        display: none;
        cursor: pointer;
    }
    .nav-right {
        right:0;
        position:absolute;
    }
    .nav-left::before {
        content:'';
        width:100%;
        height:45px;
        position: absolute;
        top:-45px;
        left:0;
    }
    .nav-left a {
        padding:16px;
        height:50px;
        font-size:14px;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width:300px;
        text-align: center;
    }
    .nav-left a:hover {
        background-color: black;
    }
    .nav-rasfoire {
        display: inherit;
        color:white;
        position: absolute;
        left:160px;
        font-size:16px;
        cursor: pointer;
    }
    .nav-rasfoire:hover ~ .nav-left {
        display: flex;
        opacity: 1;
        transition-delay: 600ms;
    }
    .nav-left:hover {
        display: flex;
        opacity: 1;
        transition-delay: 600ms;
    }
}
@media screen and (max-width:500px) {
    .nav-rasfoire {
        font-size:14px;
        left:140px;
    }
    .nav-left a{
        width: 200px;
    }
}



/*----------Footer----------*/


.footer {
  position: relative;
  background-color: var(--bg);
  bottom:0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index:1;
  flex-wrap: wrap;
  margin-top:100px;
}
.footer-icon {
  width:1000px;
  height:50px;
  position: relative;
  display: flex;
  align-items:center;
  justify-content:flex-start;
}
i.fa-facebook-f, i.fa-instagram, i.fa-youtube {
  font-size:25px;
  margin-right:30px;
  color:white;
  cursor: pointer;
}
.footer-flex {
  width:1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.footer-flex-section {
  width:auto;
  height:105px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media (max-width:1000px) {
  .footer-flex-section {
    width:100%;
  }
}
.footer-text {
  width:100%;
  height:35px;
  color:rgb(154, 154, 154);
  font-size: 13px;
  font-family: 'Noto sans serif', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.footer-text:hover {
  text-decoration: underline;
}
.footer-btn {
  width:1000px;
  height:100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.footer-btn-code {
  width:auto;
  padding:0 5px;
  height:34px;
  font-size:14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:grey;
  border:1px solid grey;
  cursor: pointer;
}
.footer-btn-code:hover {
  color:white;

}
.footer-copy {
  font-size:12px;
  color:grey;
  cursor: default;
}


/*----------Main----------*/


.main-bg {
  height:auto;
  overflow: hidden;
  z-index:3;
  position: relative;
}
.main-film-principal {
  width:100vw;
  height:calc(100vw * 8 / 16);
  display:flex;
  justify-content: left;
  align-items: center;
  padding-left:50px;
  position: relative;
}
.main-frame {
  position: absolute;
  width:100vw;
  overflow: hidden;
  height:calc(100vw * 8 / 16);
  background-color:rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  background-size: cover;
  left:0;
}
.main-gradient {
  width:100%;
  height:200px;
  background: linear-gradient(180deg, rgba(173,231,227,0) 0%, rgba(21,21,21,1) 100%);
  position: absolute;
  bottom:0;  
  left:0;
}
.main-film-flex {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content:space-evenly;
  width:600px;
  height:250px;
  margin-top:-100px;
  z-index:1;
}
.main-logo {
  width:100%;
  height:100px;
  background-image: url(../filme/peaky-logo.png);
  background-repeat: no-repeat;
  background-size:contain;
}
.main-text {
  width:100%;
  height:50px;
  color:white;
  font-size:18px;
  line-height: 18px;
  font-family: 'Public sans',sans-serif;
  margin-top:10px;
}
.main-btn-flex {
  display: flex;
  align-items: center;
  justify-items: left;
  color:white;
}
.main-redare {
  width:130px;
  height:40px;
  font-size:20px;
  font-weight: 700;
  border-radius:3px;
  line-height:40px;
  text-align: center;
  background-color: white;
  color:black;
  margin-right:10px;
  cursor: pointer;
  font-family: 'Public sans',sans-serif;
}
.main-redare:hover {
  opacity:0.8
}
.main-info {
  width:250px;
  background-color: rgba(128, 128, 128, 0.8);
  height:40px;
  font-size:20px;
  font-weight: 700;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-family: 'Public sans',sans-serif;
}
.main-info:hover {
  background-color: rgba(128, 128, 128, 0.6);
}
.fa-circle-info,.fa-play {
  margin-right:10px;
}
.film-row {
  transform: translate(0, -75%);
}
.film-row:hover {
  z-index:5;
  position: relative;
}
.film-container {
  display: flex;
  justify-content: center;
  overflow-x:visible;
  overflow-y: none;
  margin-bottom: 40px;
  position: relative;
  width:100%;
}
.film-slider {
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transition: transform 800ms ease;
}
.slider0 {
  transform: translateX(calc(var(--slider-index0) * -100%));
}
.slider1 {
  transform: translateX(calc(var(--slider-index1) * -100%));
}
.slider2 {
  transform: translateX(calc(var(--slider-index2) * -100%));
}
.slider3 {
  transform: translateX(calc(var(--slider-index3) * -100%));
}
.film-img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  cursor:pointer;
  transition:400ms ease;
  flex-grow:1;
  position: relative;
}
.film-img-absolute {
  width:100%;
  height:100%;
  position: absolute;
  transition: 400ms ease;
  bottom:0;
  left:0;
  padding:var(--img-gap);
}
.film-img-absolute:hover {
  scale:1.4;
  transform-origin: top top;
  translate:0 -50%;
  z-index:4;
  transition-delay: 400ms;
}
.film-img:hover .film-bg {
  border-bottom-left-radius: 0;
  transition-delay: 400ms;
  border-bottom-right-radius: 0;
  z-index:4;
}

.film-handle {
  border: none;
  border-radius: 3px;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  line-height: 0;
  background-color: transparent;
  transition: background-color 150ms ease-in-out;
}
.film-handle:not(.list-handle) {
  background-color: rgba(0, 0, 0, 0.4);
}
.film-container:hover .film-handle:not(.list-handle) {
  color:white;
}

.film-left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.film-right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.film-text {
  transition: transform 150ms ease-in-out;
}

.film-handle:hover .film-text,
.film-handle:focus .film-text {
  transform: scale(1.2);
}

.film-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 8px calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}

.film-title {
  font-size: 24px;
  color:white;
  position: relative;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
}
.film-bg {
  width:100%;
  height:100%;
  border-radius: 5px;
  transition: 400ms;
}
.film-hover {
  width:calc(100% - 8px);
  height:120px;
  position: absolute; 
  background-color: rgb(30,30,30);
  opacity: 0;
  z-index:0;
  transition: 400ms ease;
  padding:10px 10px 20px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  visibility: hidden;
  top:calc(100% - var(--img-gap));
}
.film-img:hover .film-hover {
  opacity:1;
  visibility: visible;
  transition-delay: 400ms;
}
.film-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:100%;
  flex-direction: column;
}
.film-btn-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height:28px;
  width:100%;
}
.film-btn-play, .film-btn-add, .film-btn-like, .film-btn-info {
  height:100%;
  aspect-ratio: 1 / 1;
  border:1px solid rgb(124, 124, 124);
  border-radius: 50%;
  margin-right:5px;
  color:white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.film-btn-add:hover, .film-btn-like:hover, .film-btn-info:hover {
  border:1px solid white;
}
.film-btn-play {
  color: black;
  background-color: white;
  border: none;
}
.film-btn-play:hover {
  background-color: rgb(171, 171, 171);
}
.film-btn-play .fa-play {
  transform: translateX(50%);
}
.film-add-absolute {
  position: absolute;
  padding: 4px 8px;
  font-size:12px;
  background-color: rgb(198, 198, 198);
  top:-30px;
  white-space: nowrap;
  opacity: 0;
  transition: 400ms ease;
  border-radius:3px;
  color:black;
  font-weight: 600;
  visibility: hidden;
}
.film-add-absolute::before {
  content:'';
  width:9px;
  height:7px;
  background-color: rgb(198, 198, 198);
  position: absolute;
  left:50%;
  translate:-50%;
  bottom:-7px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.film-btn-add:hover .film-add-absolute {
  opacity: 1;
  visibility: visible;
}
.film-btn-info {
  position: absolute;
  right:0;
  margin-right: 0;
}
.film-det {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
}
.film-new {
  font-family: 12px;
  color:rgb(2, 160, 2);
  font-family: 'Secular one',sans-serif;
  font-weight: 400;
  padding:0 3px;
}
.film-age {
  font-family: 'Poppins',sans-serif;
  font-size: 11px;
  color:white;
  padding:0.2px 5px;
  border:1px solid white;
}
.film-time {
  font-size:11px;
  padding:0 4px;
  color:white;
}
.film-hd {
  font-size:10px;
  border:0.5px solid rgb(176, 176, 176);
  padding:1px 2px;
  color:white;
  border-radius: 2px;
}
.film-info {
  color:white;
  font-size:12px;
  width:100%;
}



@media (max-width: 1200px) {
  :root {
    --items-per-screen: 5;
  }
}
@media (max-width:1000px) {
  :root {
    --items-per-screen: 4;
  }
  .main-film-flex {
    height:170px;
  }
  .main-text {
    font-size:20px;
  }
  .main-logo {
    height:50px;
  }
  .main-redare {
    width:104px;
    height:32px;
    font-size:18px;
    line-height:33px;
  }
  .main-info {
    height:32px;
    font-size:18px;
    line-height:33px;
    width:220px;
  }
  .footer-btn {
    width:auto;
  }
  .footer-flex {
    flex-direction: column;
    width:auto;
  }
  .footer-icon {
    width:auto;
  }
}
@media (max-width: 800px) {
  :root {
    --items-per-screen: 3;
  }
}
@media (max-width:700px) {
  .main-text {
    display: none;
  }
  .main-film-flex {
    height:100px;
    width:auto;
  }
  .main-film-principal {
    padding-left:20px;
  }
  .film-handle {
    width:20px;
  }
  .film-header {
    padding: 8px calc(var(--img-gap) * 2 + 20px)
  }
}
@media (max-width:650px) {
  .film-title {
    font-size:18px;
  }
}
@media (max-width:600px) {
  .main-film-flex {
    scale:0.8
  }
  .main-film-principal {
    padding:0;
  }
}
@media (max-width: 500px) {
  :root {
    --items-per-screen: 2;
  }
  .main-film-flex {
    transform: translate(-10%, 20%);
  }
}
@media (max-width:425px) {
  .main-logo {
    display: none;
  }
  .main-film-flex {
    height:50px;
  }
}


/*----------List----------*/

.list {
  height:300px;
  background-color: beige;
  width: 100vw;
}
.list-slider {
  flex-wrap: wrap;
}
.list-img {
  margin:30px 0;
}
.list-row {
  transform: translate(0,0);
}
.list-title {
  margin-top:60px;
  margin-bottom:-10px;
}
